.summary-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .summary-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .summary-icon {
    font-size: 32px;
  }
  
  .summary-info {
    text-align: right;
  }
  
  /* .summary-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .summary-info p {
    margin: 5px 0 0;
    font-size: 20px;
    font-weight: 700;
    color: #006d77;
  }
   */