@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --securegate-color-bg-main: #e8e8e8;
  --securegate-color-bg-theme: #1976d2;

  --securegate-header-bg-color: #1f2937;
  --securegate-color-header-title-text: #fff;

  --securegate-footer-bg-color: #1f2937;
  --securegate-color-footer-title-text: #fff;

  --register-color-error: #f33;

  --register-color-card-bg: #fff;
  --register-color-card-border: #bebdbd;

  --register-color-font-placeholder: #d9d9d9;

  --register-color-font-primary: #1636c2;
  --register-color-font-secondary: #0caf1d;
  --register-color-font-tertiary: #fff;
  --register-color-font-placeholder: #d9d9d9;

  --register-color-error: #f33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--register-color-bg-main);
}

main {
  padding: 0 20px;
}

.app-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.app-mb20 {
  margin-bottom: 20px;
}

.app-mt20 {
  margin-top: 20px;
}

.app-container-content {
  width: 100%;
  padding: 20px;
  border: 2px solid var(--color-border);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #b1bdc8be;
  margin: 0;
}

/* Estilização Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  font-size: 14px;
  color: var(--color-text-secondary);
  font-weight: 600;
}

table th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: var(--color-text-secondary);
}

table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: var(--color-text-secondary);
  font-size: 14px;
}

table tr:hover {
  background-color: #c4c7ca4b;
  cursor: pointer;
}

td {
  text-align: center;
}

th {
  background-color: #f2f2f28f;
  text-align: center;
}


