.trash-wrapper {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.trash-icon-wrapper:hover {
  background-color: rgba(255, 0, 0, 0.06); /* fundo vermelho suave */
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2); /* borda sutil estilo Microsoft */
  border-radius: 6px;
}

.trash-icon {
  width: 100%;
  height: 100%;
  stroke: gray;
  transition: stroke 0.3s ease;
}

.trash-icon:hover {
  stroke: red;
}

/* Animação da tampa */
.trash-icon .trash-lid {
  transform-origin: 24px 14px;
  transition: transform 0.3s ease;
}

.trash-icon:hover .trash-lid {
  transform: translateY(-6px) rotate(-25deg);
}
