.user-container-main {
  border: 1px solid var(--color-border);
  border: 1px solid #b1bdc870;
  padding: 20px;
  border-radius: 5px;
}

.user-container-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.user-container-opcoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dot-status {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(52, 219, 52);
}

.dot-status-non-active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 73, 41, 0.822);
}

.system-box {
  background-color: #e6f0ff; /* azul claro */
  color: #003366; /* azul escuro pro texto */
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  font-size: 0.9rem;
}

.container-delete-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all 0.1s ease-in-out;
}

.container-delete-icon:hover {
  border: 1px solid rgba(255, 0, 0, 0.4);
  background-color: rgba(255, 0, 0, 0.08);
  cursor: pointer;
  border-radius: 8px;
}

.delete-icon {
  color: gray;
  transition: color 0.3s ease-in-out;
}

.container-delete-icon:hover .delete-icon {
  color: rgba(255, 0, 0, 0.7);
}


.container-edit-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all 0.1s ease-in-out;
}

.container-edit-icon:hover {
  border: 1px solid rgba(0, 174, 255, 0.4);
  background-color:  rgba(80, 159, 196, 0.171);
  cursor: pointer;
  border-radius: 8px;
}

.edit-icon {
  color: gray;
  transition: color 0.3s ease-in-out;
}

.container-edit-icon:hover .edit-icon {
  color:  rgb(14, 143, 202);
}
