.transfer-list-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .list-box h3 {
    margin-bottom: 0.5rem;
  }
  
  .list-box select {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  
  .transfer-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .transfer-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #006d77;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .transfer-buttons button:hover:enabled {
    background-color:#004f59;
  }
  
  .transfer-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  