.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px; /* Evita esticar em telas ultrawide */
  justify-content: center; /* Centraliza os gráficos */
}

.dashboard-container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--register-color-card-border);
  padding-bottom: 20px;
}

.chart-container-left,
.chart-container-right {
  flex: 1 1 500px;
  max-width: 800px; /* Limita o tamanho dos gráficos */
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .chart-container-left,
  .chart-container-right {
    width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .chart-container-left,
  .chart-container-right {
    width: 100%;
  }
}

.date-inputs-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.LineChart-container-center {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}


