.register-header-client {
  background-color: var(--securegate-header-bg-color);
  color: var(--securegate-color-header-title-text);
  border-bottom: 2px solid var(--color-border);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #b1bdc8be;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 30px 0px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 16px;
}

nav a {
  font-size: 14px;
}

.container-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-left img {
  width: 200px;
  height: auto;
}

.register-navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-photo-info-user {
  align-items: center;
  display: flex;
  gap: 10px;
}

.container-photo-info-user img {
  width: 40px;
  /* tamanho mais visível */
  height: 40px;
  border-radius: 50%;
  /* mantém o formato circular */
  border: 2px solid white;
  /* borda branca ao redor */
  object-fit: cover;
  /* garante que a imagem preencha o espaço sem distorcer */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* sombra leve para destaque */
}

.container-photo-info-user img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.notification-icon {
  position: relative;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.notification-icon:hover {
  color: #000;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 999px;
  font-weight: bold;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}