.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px 40px;
  transition: all 0.3s ease;
}

.input-wrapper.focused {
  border-color: #1976d2; /* Cor de foco */  
}


.search-label {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-wrapper input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #888;
}

.input-wrapper.focused .search-label,
.input-wrapper input:not(:empty) ~ .search-label {
  top: -10px;
  font-size: 12px; 
  color: #1976d2;
  left: 10px;
  
}

.input-wrapper input:empty ~ .search-label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  left: 40px;
}
